.correct {
  background-color: green;
}

.error {
  background-color: #6a686a;
}

.almost {
  background-color: rgb(192, 192, 9);
}

.letter {
  display: grid !important;
  height: 100% !important;
  width: 100% !important;
  place-items: center;

  color: white;
}
